/* CSS for Fees division */

.F__div{
    border: 2px solid black;
    /* width: 80%; */
    margin: auto;
    display: flex;
    background-color: #DFF8E3;
}

.fdiv{
    /* background-color: red; */
    border: 2px solid grey;
    height: auto;
    width: 100%;
    margin: 10px;
    border-radius: 5px;
    /* box-shadow: */
    margin-right: 5px;
    margin-bottom: 20px;
    margin-left: 5px;
    padding: 15px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.22);
    font-family: Poppins,sans-serif;
    line-height: 25px;
}

#p01{
    margin-top: 15px;
    margin-bottom: 10px;
    color: #07294d;
    font-weight: 600;
    text-align: center;
}

#p02{
    justify-content: space-between;
    color: #07294d;
    font-size: 12px;
    text-align: center;
}

#p03{
    color: #07294d;
    text-align: center;
}

#p04{
    color: #07294d;
    font-size: 12px;
    text-align: center;
}

#p05{
    /* margin-left: 5px; */
    color: #f6921e;
    font-size: 18px;
    font-weight: 600;
}

.fdiv img{
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 80px;
    
}

/* Button CSS */

input.mybutton{
    margin-left: -1%;
    border: 0;
    line-height: 3;
    padding: 0 20px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    background-color: #E07126;
    font-weight: bold;
}