*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Css of Navigation Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F9E4EB;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #666;
    color: #6B00A8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: white;
  }


h1{
    text-align: center;
    margin-top: 150px;
    font-size: 50px;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    opacity: 1.0;
    font-size: 18px;   
}
#right{
    float : right;
}


/* Table CSS */


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
    height: auto;
    margin-left: 150px;
    font-size: 14px;
    margin-top: 10px;
    
  }

td{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }