.fcontainer{
    width: 100%;
    height: auto;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    width: 250px;
    height: 350px;
    border: 2px solid green;
}